*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html,
body{
    font-family: 'Raleway', SansSerif, serif;
    color:white;
}


/* NAV */
.main-nav{
    z-index: 2;
    width:100%;
    position:fixed;
    padding: 0 3rem;
    padding-top:0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:130px;
    background: hsla(0, 0%, 0%, 1);
}

.main-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.main-menu li{
    position:relative;
}
.main-menu li a{
    font-size: 28px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    padding-left:65px;
}
i.fa-chevron-down{
    vertical-align: middle;
    font-size: 12px;
    padding-left: 10px;
}

.main-menu li a:hover{
    color:#0073ff;
}

/*DROPDOWN MENU*/
.dropdown-menu {
    display: none;
}
.dropdown-menu ul{
    list-style: none;
}
.main-menu li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 3rem;
    top: 100%;
    background-color: black;
    width: auto;
    height: auto;
}

.main-menu li:hover .dropdown-menu ul{
    display: block;
}

.main-menu li:hover .dropdown-menu ul a{
    display:block;

    margin:0.8rem 0;
    padding-left:1rem;
    font-size:23px;
    word-wrap: break-word;

}
/*END DROPDOWN MENU*/
/* END NAV */

/* INDEX PAGE */

section.content{
    padding:0;
    min-height: 100vh;
    padding-top:130px;
}
section.index-page{
    background: url('/assets/images/background-index.svg');
    background-size:cover;
    display: flex;
    align-items: center;
}

.landing-page-text p{
    margin-left:1rem;
    width:760px;
    font-weight: 600;
    font-size:48px;
    line-height: 61px;
    text-align: center;
    color:white;
}
/* END INDEX PAGE */

section{
    color:white;
    padding:100px 9%;
    background-color: rgba(24, 29, 43, 1);

}

section.about{
    min-height: 100vh;
    width:100%;
    background: url("/assets/images/shapes.svg");
    background-color: rgba(24, 29, 43, 1);
    background-size: cover;
}

section .introduction{
    margin-right:22%;
    margin-left:22%;
    text-align: center;
}

section .introduction h1{
    padding:30px 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

section .introduction h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    margin-bottom: 100px;
}

div.breakline{
    height: 1px;
    background: rgba(45, 51, 66, 1);
    margin:50px 0;
}

div.about-content{
    margin:100px 0;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    justify-content: center;
}

.about-content h2{
    width:500px;
    font-weight: 500;
    font-size: 32px;
    line-height: 149.4%;
}

h2 span{
    color:rgba(45, 91, 255, 1);
}

.about-content div p{
    z-index: 1;
    position:relative;
    max-width:532px;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
}

p.hidden{
    display:none;
}

.btn{
    display:block;
    margin:20px 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.read-more{
    color:white;
    font-weight: 600;
    font-size: 20px;
    line-height: 128.9%;
    letter-spacing: 0.03em;
}

.about-second h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 149.4%;
    text-align: center;
    margin-bottom: 50px;
}
.btn-center{
    margin:0 auto;
}
.about-second div p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    /* or 46px */
    text-align: center;
    margin-bottom:50px;
}

.cards{
    margin-top:100px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    align-items: start;
}

.cards>div{
    min-height: 330px;
    background: linear-gradient(180.04deg, #203048 0.04%, #202139 45.98%, #192031 99.96%);
    border: 1px solid #2E2F46;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.cards>div h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.cards>div p.truncate{
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.4%;
    color: #D8D8E8;
}
.card-inside{
    padding:25px;
}

