*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html,
body{
    font-family: 'Raleway', SansSerif, serif;
    color:white;
}


/* NAV */
.main-nav{
    z-index: 1;
    width:100%;
    position:fixed;
    padding: 0 3rem;
    padding-top:0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
    background: hsla(0, 0%, 0%, 1);
}

.logo-img img{
    width:100%;
}

.main-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.main-menu>li{
    position:relative;
    margin-left:65px;
}
.main-menu>li:last-child>a{
    display: inline-block;
    min-width: 132px;
}
.main-menu li a{
    font-size: 28px;
    color:white;
    font-weight: 500;
    text-decoration: none;
}
i.fa-chevron-down{
    vertical-align: middle;
    font-size: 12px;
    padding-left: 10px;
}

.main-menu li a:hover{
    color:#0073ff;
}

/*DROPDOWN MENU*/
.dropdown-menu {
    display: none;
}
.dropdown-menu ul{
    list-style: none;
}
.main-menu li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: -10px;
    top: 100%;
    background-color: black;
    width: auto;
    height: auto;
}

.main-menu li:hover .dropdown-menu ul{
    display: block;
}

.main-menu li:hover .dropdown-menu ul a{
    display:block;
    margin:0.8rem 0;
    padding-left:10px;
    font-size:23px;
    word-wrap: break-word;
}
.main-menu li:hover .dropdown-menu ul li:first-child a{
    margin-top:2rem;
}
/*END DROPDOWN MENU*/

/* MOBILE MENU */
.hamburger-lines {
    height: 26px;
    width: 32px;
    top: 17px;
    left: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.secondary-menu{
    position:fixed;
    z-index: 2;
    top:100px;
    right:0;
    height:calc(100vh - 100px);
    background:rgba(24, 29, 43, 1);
    display:flex;
    flex-direction: column;
    width:30vw;
    min-width: 320px;
    list-style: none;
    justify-content: center;
    transform:translateX(100%);
    transition: transform 0.3s ease-in-out;

}

.secondary-menu.toggle{
    transform:translateX(0);
}
.secondary-menu li{
    z-index: 3;
    margin-left:40px;
    margin-bottom:30px;
}

.secondary-menu li a{

    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.secondary-menu li a:hover{
    color:#0073ff;
}
/* END MOBILE MENU */
/* END NAV */

/* INDEX PAGE */

section.content{
    padding:0;
    min-height: 100vh;
    padding-top:100px;
}
section.index-page{
    background: url('../images/background-index.svg');
    background-size:cover;
    display: flex;
    align-items: center;
}

.landing-page-text p{
    margin-left:1rem;
    width:760px;
    font-weight: 600;
    font-size:48px;
    line-height: 61px;
    text-align: center;
    color:white;
}
/* END INDEX PAGE */

/* FIRST ABOUT PAGE*/
section{
    color:white;
    padding:50px 10%;
    background-color: rgba(24, 29, 43, 1);
}
section>*{
    padding:0 10px;
}
section.about{
    min-height: 100vh;
    width:100%;
    background: url('../images/shapes.svg');
    background-color: rgba(24, 29, 43, 1);
    background-size: cover;
    background-position: center;
}

section .introduction{
    text-align: center;
}

section .introduction h1{
    max-width: 600px;
    margin:0 auto;
    padding:30px 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

section .introduction h3{
    max-width: 790px;
    margin:0 auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    margin-bottom: 100px;
}

div.breakline{
    height: 1px;
    background: rgba(45, 51, 66, 1);
    margin:50px 0;
}

div.about-content{
    margin:100px 0;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    justify-content: center;

}

.about-content h2{
    max-width:500px;
    font-weight: 500;
    font-size: 32px;
    line-height: 149.4%;
}

h2 span{
    color:rgba(45, 91, 255, 1);
}

.about-content div p{
    position:relative;
    max-width:530px;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
}

.btn{
    display:block;
    margin:20px 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.read-more{
    color:white;
    font-weight: 600;
    font-size: 20px;
    line-height: 128.9%;
    letter-spacing: 0.03em;
}

.project-description>button{
    position: absolute;
}

.btn-center{
    margin:0 auto;
}

/* END OF FIRST ABOUT PAGE*/

/* SECOND ABOUT PAGE*/
.about-second{

}
.about-second h2{
    max-width: 787px;
    margin:50px auto;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 149.4%;
    text-align: center;
    padding-top:73px;

}
.about-second div p{
    max-width: 787px;
    margin:0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    /* or 46px */
    text-align: center;
    margin-bottom:50px;
}

.cards{
    margin-top:100px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    align-items: start;
}

.cards>div{
    min-height: 350px;
    background: linear-gradient(180.04deg, #203048 0.04%, #202139 45.98%, #192031 99.96%);
    border: 1px solid #2E2F46;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.cards>div h4{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.cards>div p.truncate{
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.4%;
    color: #D8D8E8;
}
.card-inside{
    padding:25px;
}

/* END OF SECOND ABOUT PAGE */


/*PROJECTS PAGE*/

.projects>.breakline{
    margin-top:23px;
}

.project-container{

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}
.project-description{
    position:relative;
    max-width: 830px;
}
.project-svg{
    min-height:300px;
    background: url('../images/projects-diamond.svg') no-repeat;
    background-position: right, left;
    height:100%;
    display:flex;
    align-items: center;
    min-width:250px;
    margin-right: 15px;
}
.projects>h1{
    padding-top:50px;
    margin-bottom:125px;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;

}

.project-name>h2{
    color:rgba(45, 91, 255, 1);
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2D5BFF;
}

.project-name>h3{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.project-description p{
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    text-align: justify;
}
.project-description button{
    font-weight: 600;
    font-size: 20px;
    line-height: 128.9%;
    /* identical to box height, or 26px */
    letter-spacing: 0.03em;
}
.button-container{
    margin-top:150px;
    margin-bottom:39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.btn-view-more{
    cursor: pointer;
    background: linear-gradient(270deg, #222BE7 6.45%, #2860F8 100%);
    padding:25px 35px;
    border:0px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}
.researches .button-container{
    margin-top:80px;
    justify-content: left;
}
.researches .btn-view-more{
    font-weight: 600;
    background: #242C44;
    border-radius: 35px;
}

.researches h1{
    padding-top:50px;
    margin-bottom:65px;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.research h3{
    max-width: 1000px;
    font-weight: 500;
    font-size: 25px;
    line-height: 230.4%;
    color: #1F69F7;

}
.research p{
    max-width: 870px;
    font-weight: 400;
    font-size: 20px;
    line-height: 230.4%;
    color: #FFFFFF;
    margin-bottom: 77px;
}
.hidden{
    display:none;
}

@media(max-width: 900px){
    .main-menu{
        display: none;
    }
    .hamburger-lines{
        display:flex;
    }
}

@media(max-width: 450px){
    .main-nav .logo-img{
        width:100px;
    }
    .main-menu{
        display: none;
    }
    .hamburger-lines{
        display:flex;
    }
    .secondary-menu{
        min-width: 100vw;
    }
}